# LOOPS

### for

for i in iterable:
    body

In [1]:
for i in "techpro":
    print(i)

t
e
c
h
p
r
o

In [3]:
for i in [1,2,3,4,5]:
    print(i ** 2, end = " ")

1 4 9 16 25

In [4]:
liste = [1,2,3,4,5]

x = 0

while x < len(liste):
    print(liste[x] ** 2)

    x += 1

1
4
9
16
25

In [6]:
for i in (1,2,3,4,5):
    print( i ** 2)

1
4
9
16
25

In [7]:
for i in 1536:
    print(i ** 2)

TypeError: 'int' object is not iterable

In [8]:
for i in ["ahmet","nazim","ali","defne"]:
    print(i.capitalize())

Ahmet
Nazim
Ali
Defne

"Techpro"
"T-e-c-h-p-r-o"

In [9]:
for i in ("Techpro"):
    print(i, end = "-")

T-e-c-h-p-r-o-

In [16]:
empty_str = ""

for i in "Techpro":
    empty_str += i + "-"
empty_str.strip("-")

'T-e-c-h-p-r-o'

In [18]:
"-".join("techpro") #YUKARDAKİ FOR SORUSUNUN KISA HALİ

't-e-c-h-p-r-o'

In [19]:
dict_1 = {"name":"Defne","surname":"Acer","age":"18"}

In [20]:
dict_1

{'name': 'Defne', 'surname': 'Acer', 'age': '18'}

In [25]:
for i in dict_1.values():
    print(i)

Defne
Acer
18

In [26]:
for i in dict_1.items():
    print(i)

('name', 'Defne')
('surname', 'Acer')
('age', '18')

In [28]:
for i, j in dict_1.items():
    print(i, j)

name Defne
surname Acer
age 18

In [29]:
for i, j in dict_1.items():
    print(f"key: {i}, value: {j}")

key: name, value: Defne
key: surname, value: Acer
key: age, value: 18

In [30]:
for i, j in dict_1.items():
    print(f"key: {i :<10}, value: {j}")

key: name      , value: Defne
key: surname   , value: Acer
key: age       , value: 18

In [31]:
for i, j in dict_1.items():
    print(f"key: {i :>10}, value: {j}")

key:       name, value: Defne
key:    surname, value: Acer
key:        age, value: 18

In [33]:
for i, j in dict_1.items():
    print(f"key: {i :^10}, value: {j:^10}")

key:    name   , value:   Defne
key:  surname  , value:    Acer
key:    age    , value:     18

In [34]:
for i,j,k in [("ali","data_scientist",26),("veli","python_developer",28)]:
    print(i,j,k)

ali data_scientist 26
veli python_developer 28

In [35]:
for i,j,k in [("ali","data_scientist",26),("veli","python_developer",28)]:
    print(i,j)

ali data_scientist
veli python_developer

In [38]:
for i,j,k in [("ali","data_scientist",26),("veli","python_developer",28)]:
    print(f"i: {i}, j: {j}, k: {k}")

i: ali, j: data_scientist, k: 26
i: veli, j: python_developer, k: 28

In [39]:
for i,j,k in [("ali","data_scientist",26),("veli","python_developer")]:
    print(f"i: {i}, j: {j}, k: {k}")

i: ali, j: data_scientist, k: 26

ValueError: not enough values to unpack (expected 3, got 2)

In [40]:
for i in True:
    print(i)

TypeError: 'bool' object is not iterable

In [ ]:
liste =["sonsuzdöngü"]

for i in liste:
    print(i)
    liste.append(i)

In [45]:
for i in range(50):
    print("Ceza")

Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza
Ceza

In [53]:
x = int(input("1 ile 9 arasinda bir sayi giriniz :"))
if 1 <= x <= 9:

    for i in range(1,11):
        print(f"{x} x {i} = {x * i}")
else:
    print("1 ile 9 arasindan bir sayi girmedin.")

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [54]:
#SONSUZ HAK DENEME
while True:

    x = int(input("1 ile 9 arasinda bir sayi giriniz :"))
    if 1 <= x <= 9:

        for i in range(1,11):
            print(f"{x} x {i} = {x * i}")
            break
    else:
        print("1 ile 9 arasindan bir sayi girmedin.")

4 x 1 = 4
6 x 1 = 6
6 x 1 = 6
1 ile 9 arasindan bir sayi girmedin.
1 ile 9 arasindan bir sayi girmedin.

In [1]:
#çalıştırma break for dongusunu durdurur while sonsuza devam eder.
deneme_sayisi = 0
while deneme_sayisi < 3:
    deneme_sayisi += 1

    x = int(input("1 ile 9 arasinda bir sayi giriniz :"))
    if 1 <= x <= 9:

        for i in range(1,11):
            print(f"{x} x {i} = {x * i}")
            break
    else:
        print("1 ile 9 arasindan bir sayi girmedin.")

6 x 1 = 6
7 x 1 = 7
8 x 1 = 8

In [2]:
deneme_sayisi = 0
while deneme_sayisi < 3:
    deneme_sayisi += 1

    x = int(input("1 ile 9 arasinda bir sayi giriniz :"))
    if 1 <= x <= 9:

        for i in range(1,11):
            print(f"{x} x {i} = {x * i}")
        break
    else:
        print("1 ile 9 arasindan bir sayi girmedin.")

1 ile 9 arasindan bir sayi girmedin.
1 ile 9 arasindan bir sayi girmedin.
1 ile 9 arasindan bir sayi girmedin.

1 den 50 (50 dahil) ye kadar olan sayiların toplamını bulan python kodunu yaziniz

In [7]:
toplam = 0
for i in range(1,51):
    toplam +=i
print(toplam)

1275

In [8]:
sum(range(1,51))

1275

In [10]:
sum([1,2,3,4,5])

15

In [11]:
sum([1,2,3,4,5],100)

115

In [12]:
sum({1,2,3,4,5},100)

115

In [19]:
toplam = 0
for i in range(1,51):
    
    if i % 2 == 0:
        toplam +=i
print(toplam)

650

In [22]:
sum(range(2,51,2))

650

## break, continue

In [23]:
liste_2 = [1,2,3,4,5]
liste_2

[1, 2, 3, 4, 5]

In [24]:
for i in liste_2:
    if i% 3 == 0:
        print(i ** 2)
        break

9

In [26]:
for i in liste_2:
    if i% 3 != 0:
        print(i ** 2)
    else:
        break

1
4

In [28]:
for i in liste_2:
    if i % 3 == 0:
        break
    else:
       print(i **2)

1
4

In [30]:
for i in liste_2:
    if i % 3 == 0:
        continue
    else:
       print(i **2)

1
4
16
25

In [34]:
toplam = 0
for i in range(1,10):
    if i %  5 == 0:
        continue
    
    toplam +=1
print(toplam)

8

In [35]:
toplam = 0 

for i in range(1,51):
    if i % 2 == 1:
        continue
    toplam += i
print(toplam)

650

In [36]:
sayilar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

In [39]:
odds = []
evens = []
for i in sayilar_listesi:
    if i % 2 == 0:
        evens.append(i)
    else:
        odds.append(i)
print(evens)
print(odds)

[2, 36, 62, 52, 30, 56, 48]
[1, 15, 5, 89, 45, 71, 45, 95, 61]

In [40]:
sayılar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

odds = []
evens = []

for i in sayılar_listesi:

    if i % 2:
        odds.append(i)
    else:
        evens.append(i)

print(f"tek sayılar: {odds}")
print(f"çift sayılar: {evens}")

tek sayılar: [1, 15, 5, 89, 45, 71, 45, 95, 61]
çift sayılar: [2, 36, 62, 52, 30, 56, 48]