# filter()

In [1]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [3]:
list(filter(None,"hello"))

['h', 'e', 'l', 'l', 'o']

In [4]:
list(filter(None, [1,2,0,"",3.14,True,False,()]))

[1, 2, 3.14, True]

In [5]:
def tek_sayi_bulucu(x):

    if x % 2 == 1:
        return True
    else:
        return False

In [6]:
tek_sayi_bulucu(9)

True

In [7]:
tek_sayi_bulucu(2)

False

In [8]:
tuple(filter(tek_sayi_bulucu, [1,2,3,4,5,6,7,8,9]))

(1, 3, 5, 7, 9)

In [9]:
["sedat","techpro","ali","hüma","nazim","ersin"]

['sedat', 'techpro', 'ali', 'hüma', 'nazim', 'ersin']

In [14]:
def len_5(x):
    if len(x) == 5:
        return True
    else:
        return False

In [18]:
len_5("nazim")

True

In [21]:
len_5("techpro")

False

In [20]:
list(filter(len_5,["sedat","techpro","ali","hüma","nazim","ersin"]))

['sedat', 'nazim', 'ersin']

In [22]:
def find_armstrong(sayı):

    sayı = str(sayı)

    basamak_sayısı = len(sayı)

    toplam = 0

    for i in sayı:

        toplam += int(i) ** basamak_sayısı # toplam = toplam + int(i) ** basamak_sayısı


    if toplam == int(sayı):
        return True
    else:
        return False

In [23]:
find_armstrong(153)

True

In [24]:
list(filter(find_armstrong,range(1,10000)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]

In [25]:
filter(find_armstrong,11)

TypeError: 'int' object is not iterable

# lambda()

In [28]:
def kareler_toplami(x, y):
    return x ** 2 + y ** 2

In [29]:
kareler_toplami(3,4)

25

In [33]:
lambda x , y: x **2 + y ** 2

In [38]:
(lambda x , y: x **2 + y ** 2)(3,4)

25

In [35]:
(lambda x , y:( x ** 2 + y ** 2) ** 0.5)(3,4)

5.0

In [37]:
(lambda x , y:int(( x ** 2 + y ** 2) ** 0.5))(3,4)

5

In [39]:
(lambda x : len(x) == 5 )("sedat")

True

In [40]:
(lambda x : len(x) == 5 )("enejan")

False

In [41]:
(lambda x : len(x) == 5 )("defne")

True

In [43]:
list(filter((lambda x : len(x) == 5 ),["sedat","techpro","ali","hüma","nazim","ersin"]))

['sedat', 'nazim', 'ersin']

In [51]:
(lambda x : x[::-1] )("defne")

'enfed'

In [52]:
list(filter((lambda x : x[::-1] == x ),["ece", "sedat", "inci", "ey edip adanada pide ye", "nazan"]))

['ece', 'ey edip adanada pide ye', 'nazan']

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\defne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\defne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\defne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\defne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\defne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\defne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("adult_eda.csv")

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [7]:
df.sex.apply(lambda x: 0 if x== "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [8]:
sayılar_listesi = [4,56,84,25,35,14,7,8,24,15]

In [11]:
list(filter((lambda x : x % 2 ),(sayılar_listesi )))

[25, 35, 7, 15]

In [12]:
(lambda x,y: ((x ** 2 + y ** 2) ** 0.5))(3,4)

5.0

In [15]:
hypo = (lambda x,y: ((x ** 2 + y ** 2) ** 0.5))

In [16]:
hypo(7,24)

25.0

In [17]:
hypo(9,12)

15.0

In [20]:
hypo(3,4)

5.0

# map()

 map in filterdan farkı filter sadece true döndüren cevapları yazar fakat map ise bütün gelen fonksiyonları çıktı eder.

In [21]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [35]:
def sayinin_karesi(x):
    return x **2

In [37]:
sayinin_karesi(3)

9

In [52]:
sayılar_listesi = [1,4,6,5,2,3,8,9,7]

In [47]:
map(sayinin_karesi,sayılar_listesi)

In [48]:
list(map(sayinin_karesi,sayılar_listesi))

[1, 16, 36, 25, 4, 9, 64, 81, 49]

In [49]:
isimler_listesi = ["techpro","education","Tahira","Hava"]

In [50]:
list(map(len,isimler_listesi))

[7, 9, 6, 4]

In [61]:
def tek_çift(* x):

    result = []
    for i in x:
        if i % 2:
            result.append(i ** 2)
        else:
            result.append(i)

    return result

In [62]:
tek_çift(1,2,3,4,5,6,7,8,9)

[1, 2, 9, 4, 25, 6, 49, 8, 81]

In [58]:
(lambda x: x ** 2 if x % 2 else x)(4)

4

In [60]:
list(map((lambda x: x ** 2 if x % 2 else x),[1,2,3,4,5,6,7,8,9]))

[1, 2, 9, 4, 25, 6, 49, 8, 81]

## faktöriyel hesaplama

In [63]:
def fact_for(x):
    factoriel = 1
    for i in range(1,x+1):
        factoriel *=i
    return factoriel

In [64]:
fact_for(3)

6

In [65]:
fact_for(5)

120

In [66]:
fact_for(0)

1

In [67]:
def fact_recursive(x):

    if x == 0:
        return 1
    
    return x * fact_recursive(x - 1)

In [68]:
fact_recursive(3)

6

In [69]:
fact_recursive(6)

720

In [70]:
#SONSUZ DÖNGÜ
fact_recursive(-5)

KeyboardInterrupt