# Lists

-- mutable (değiştirilebilirdir.)
-- iterable (elemanlarına indexlerle ulaşabiliyosak...)

---- Genel olarak listeler yavaş çalışırlar.

In [63]:
[]
list()

[]

In [64]:
liste_1 = [1, 2, 3, 3.14, "Aslan", False]
print(liste_1)

[1, 2, 3, 3.14, 'Aslan', False]

In [65]:
len(liste_1)

6

In [66]:
len("Techpro")

7

In [67]:
list("techpro")

['t', 'e', 'c', 'h', 'p', 'r', 'o']

In [68]:
liste_2 = list("techpro")
print(liste_2)

['t', 'e', 'c', 'h', 'p', 'r', 'o']

In [69]:
len(liste_2)

7

In [70]:
liste_3 = ["Techpro"]
print(liste_3)

['Techpro']

In [71]:
len(liste_3)

1

In [72]:
type(liste_2)

list

In [73]:
type(liste_3)

list

In [74]:
list(1565)

TypeError: 'int' object is not iterable

In [75]:
[1565]

[1565]

In [76]:
bos_liste_1 = []

In [77]:
type(bos_liste_1)

list

In [78]:
len(bos_liste_1)

0

In [79]:
bos_liste_2 = list()
type(bos_liste_2)

list

In [80]:
len(bos_liste_2)

0

In [81]:
liste_4 = ["nazim Ensar Aslan Sami"]
len(liste_4)

1

In [82]:
liste_5 = ["nazim", "Ensar", "Aslan", "Sami"]
len(liste_5)

4

In [83]:
liste_6 = [125,130,135,140]
print(liste_6)
len(liste_6)

[125, 130, 135, 140]

4

In [84]:
liste_7 = list(1356) # list() fonksiyonu int almaz.
print(liste_7)
len(liste_7)

TypeError: 'int' object is not iterable

In [85]:
liste_8 = list("Sami", "nazim")
print(liste_8)
len(liste_8)

TypeError: list expected at most 1 argument, got 2

In [86]:
liste_9 = [4, 5.2, "Ayse",True, [5,6,7,8,9,10]]
len(liste_9)

5

In [87]:
liste_9[4]

[5, 6, 7, 8, 9, 10]

In [88]:
liste_9[4][4] # İç içe index bulma kuralı

9

In [89]:
liste_9[2][2]

's'

In [90]:
len(liste_9[4])

6

In [91]:
liste_9

[4, 5.2, 'Ayse', True, [5, 6, 7, 8, 9, 10]]

In [92]:
str(liste_9[1])[1]

'.'

In [93]:
x = 158378248398

In [94]:
len(x)

TypeError: object of type 'int' has no len()

In [95]:
str(x)

'158378248398'

In [96]:
len(str(x))

12

In [97]:
str_1 = "Techpro"

In [98]:
str_1[4]

'p'

In [99]:
str_1[4].upper()

'P'

In [100]:
str_1[4] = str_1[4].upper() #Stringler değiştirilemez yeniden atama yapılması gerekir.

TypeError: 'str' object does not support item assignment

In [101]:
liste_9

[4, 5.2, 'Ayse', True, [5, 6, 7, 8, 9, 10]]

In [102]:
liste_9[2] = "Aye"

In [104]:
liste_9

[4, 5.2, 'Aye', True, [5, 6, 7, 8, 9, 10]]

In [105]:
liste_9[1] = 5.5

In [106]:
liste_9

[4, 5.5, 'Aye', True, [5, 6, 7, 8, 9, 10]]

In [107]:
liste_11 = [1,2,3]
liste_12 =[4,5]

In [108]:
liste_11 + liste_12

[1, 2, 3, 4, 5]

In [109]:
liste_11 * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# Basic Operations with Lists

In [110]:
sayilar_1 =[1,2,3,4,5]

### append()

In [111]:
sayilar_1.append(6)

In [112]:
sayilar_1

[1, 2, 3, 4, 5, 6]

In [113]:
sayilar_1.append(7)

In [114]:
sayilar_1

[1, 2, 3, 4, 5, 6, 7]

In [115]:
sayilar_1.append(7, 8) # SADECE 1 ELEMAN ALIR.

TypeError: list.append() takes exactly one argument (2 given)

In [116]:
sayilar_1.append([7, 8])

In [117]:
sayilar_1

[1, 2, 3, 4, 5, 6, 7, [7, 8]]

# insert()

In [118]:
sayilar_2 = [1,4,9,16,26]
sayilar_2

[1, 4, 9, 16, 26]

In [119]:
sayilar_2.insert(0,"Tech")

In [120]:
sayilar_2

['Tech', 1, 4, 9, 16, 26]

In [121]:
sayilar_2.insert(3,"Nalan")

In [122]:
sayilar_2

['Tech', 1, 4, 'Nalan', 9, 16, 26]

In [123]:
sayilar_2.insert(-1,"EYLÜL")

In [124]:
sayilar_2

['Tech', 1, 4, 'Nalan', 9, 16, 'EYLÜL', 26]

In [125]:
sayilar_2.insert(8,"defne")

In [126]:
sayilar_2

['Tech', 1, 4, 'Nalan', 9, 16, 'EYLÜL', 26, 'defne']

### remove()

In [127]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [128]:
sayilar_2

['Tech', 1, 4, 'Nalan', 9, 16, 'EYLÜL', 26, 'defne']

In [129]:
sayilar_2.remove("Tech")

In [130]:
sayilar_2

[1, 4, 'Nalan', 9, 16, 'EYLÜL', 26, 'defne']

In [131]:
sayilar_2.remove("Tech")
print(sayilar_2)

ValueError: list.remove(x): x not in list

In [132]:
sayilar_3 =[1,2,3,3,4,4,5,6,5,7]

In [133]:
sayilar_3.remove(3)
print(sayilar_3)

[1, 2, 3, 4, 4, 5, 6, 5, 7]

### pop()

In [134]:
sayilar_3

[1, 2, 3, 4, 4, 5, 6, 5, 7]

In [135]:
sayilar_3.pop()

7

In [136]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [137]:
sayilar_3.pop()

5

In [138]:
sayilar_3

[1, 2, 3, 4, 4, 5, 6]

In [139]:
sayilar_3.pop(3)
sayilar_3

[1, 2, 3, 4, 5, 6]

### count()

In [142]:
"bekler sahilde meltem, icimde firtina".count("e")

6

In [143]:
sayilar_4 = [ 1,2,3,4,5,6,6,77,65,9,8]

In [144]:
sayilar_4.count(2)

1

In [145]:
aa = [1,0,True, 2 ,1,False, 0.0, 1.0, 3, False]
aa

[1, 0, True, 2, 1, False, 0.0, 1.0, 3, False]

In [146]:
aa.count(0)

4

In [147]:
0.0 == 0

True

In [148]:
0.0 == False

True

In [149]:
type(0.0) == type(False)

False