Bir markete gittiniz. Markette her ürünün bir kod numarası var.
1 : Elma 2 : Portakal 3 : Çilek 4 : Yumurta 5 : Havuç 6 : Armut ... vs. şeklinde.
Kullanıcıya almak istediği ürünü sorunuz ve kod numarası ile seçim yaptırınız. Çıkış için "q" opsiyonunu sununuz. Kullanıcının her ürün seçimi sonrası " .... elma sepete eklendi" gibi bir dönüt veriniz. Kullanıcı ürün almaya devam ettikçe ürünleri bir listede toplayınız, almaktan vazgeçtiği durumda teşekkür edip, aldığı toplam ürünleri çıktı veren bir kod yazınız.
Çıktı:
Teşekkür Ederiz...
Sepetinizde Bulunan Ürünler: elma, armut, yumurta ... vs.

In [4]:
ürünler = {1 : "Elma", 2 : "Portakal", 3 : "Çilek", 4 : "Yumurta", 5 : "Çilek" , 6 : " Armut" }

print("""
1 >>>> Elma
2 >>>> Portakal
3 >>>> Çilek
4 >>>> Yumurta
5 >>>> Havuç
6 >>>> Armut
""")

sepet = []

while True:

    x = input("Almak istediğiniz ürünün kodunu giriniz. Sepete daha fazla ürün eklemek istemediğiniz de 'q' tuşuna basiniz.")

    if x.lower() != "q":
        sepet.append(ürünler[int(x)])
        print(f"Sepete {ürünler[int(x)]} eklendi.")
    elif x == "q":
        print("Teşekkür ederiz..")
        print(f"Almiş olduğunuz ürünler : {sepet}")
        break

1 >>>> Elma
2 >>>> Portakal
3 >>>> Çilek
4 >>>> Yumurta
5 >>>> Havuç
6 >>>> Armut

Sepete Elma eklendi.
Sepete Portakal eklendi.
Sepete Çilek eklendi.
Teşekkür ederiz..
Almiş olduğunuz ürünler : ['Elma', 'Portakal', 'Çilek']

## zip()

In [12]:
a = ["apple","orange","lemon"]
b = [1,2,3]

In [6]:
zip(a,b)

In [13]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [16]:
tuple(zip(b,a))

((1, 'apple'), (2, 'orange'), (3, 'lemon'))

In [14]:
x = "Techpro"
y = "Nazim"
z = "Ece"

In [15]:
list(zip(x,y,z))

[('T', 'N', 'E'), ('e', 'a', 'c'), ('c', 'z', 'e')]

In [17]:
dict(zip(b,a))

{1: 'apple', 2: 'orange', 3: 'lemon'}

In [18]:
set(zip(b,a))

{(1, 'apple'), (2, 'orange'), (3, 'lemon')}

In [19]:
name = ["mehmet","murat","nazli"]
age = [26,32,28]
job =["data_scientist","python developer","data_analyst"]

In [20]:
list(zip(name,age,job))

[('mehmet', 26, 'data_scientist'),
 ('murat', 32, 'python developer'),
 ('nazli', 28, 'data_analyst')]

In [22]:
for i, j, k in zip(name,age,job): 
    print(f"{i},{j},{k}")

mehmet,26,data_scientist
murat,32,python developer
nazli,28,data_analyst

In [23]:
dict(zip(name,age,job))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [24]:
for i, j in zip(name,age,job): 
    print(f"{i},{j},{k}")

ValueError: too many values to unpack (expected 2)

In [27]:
liste_1 ="techpro is the best".split()
liste_1

['techpro', 'is', 'the', 'best']

In [30]:
sayi_listesi = [1,2,3,4]

In [31]:
list(zip(sayi_listesi,liste_1))

[(1, 'techpro'), (2, 'is'), (3, 'the'), (4, 'best')]

### enumerate()

In [32]:
liste_1

['techpro', 'is', 'the', 'best']

In [33]:
list(enumerate(liste_1)) #enumerate e herhangi bir sayi vermeyince default olarak 0 dan başlar.

[(0, 'techpro'), (1, 'is'), (2, 'the'), (3, 'best')]

In [34]:
list(enumerate(liste_1,1))

[(1, 'techpro'), (2, 'is'), (3, 'the'), (4, 'best')]

In [35]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [36]:
list(enumerate(liste_1,100))

[(100, 'techpro'), (101, 'is'), (102, 'the'), (103, 'best')]

### soru1: en küçük ve en büyük sayılar arasındaki kayıp sıralrı bulun
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [37]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [47]:
# yöntem1

kayip_sayilar = []
for i in range(min(num), max(num)):
    if i not in num:
        kayip_sayilar.append(i)
print(kayip_sayilar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [49]:
#yöntem2
kayip_sayilar = []

for i in range(min(num), max(num)):

    if i in num:
        continue
    kayip_sayilar.append(i)

print(kayip_sayilar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [52]:
#yöntem3

full_set = set(range(min(num), max(num)))

num_set = set(num)

full_set - num_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [53]:
set(range(min(num), max(num))) - set(num)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

# List Comprehension

In [54]:
liste_2 = [1,2,3,4,5]

In [56]:
[i**2   for i in liste_2]

[1, 4, 9, 16, 25]

In [2]:
liste_3 = ["porsche!","hyundai*","ford?"]
liste_3

['porsche!', 'hyundai*', 'ford?']

In [3]:
[i.replace("!","").replace("*","").replace("?","")   for i in liste_3]

['porsche', 'hyundai', 'ford']

In [4]:
sayilar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]
evens=[]
for i in sayilar_listesi:

    if i % 2 == 0:
        evens.append(i)
print(evens)

[2, 36, 62, 52, 30, 56, 48]

In [67]:
[i for i in sayilar_listesi if i % 2 == 0]

[2, 36, 62, 52, 30, 56, 48]

In [68]:
[i for i in sayilar_listesi if i % 2 == 1]

[1, 15, 5, 89, 45, 71, 45, 95, 61]

In [69]:
[i ** 2 for i in sayilar_listesi if i % 2 == 0]

[4, 1296, 3844, 2704, 900, 3136, 2304]

In [70]:
[i**2 for i in sayilar_listesi if i % 2 == 1]

[1, 225, 25, 7921, 2025, 5041, 2025, 9025, 3721]

In [71]:
# cift olanlar yerinde oldugu gibi kalsın tek olanların karesini yazdırın.
sayilar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]
result=[]
for i in sayilar_listesi:

    if i % 2 == 0:
        result.append(i)
    else:
        result.append(i**2)
print(result)

[1, 225, 2, 36, 25, 7921, 2025, 62, 52, 5041, 30, 56, 2025, 9025, 3721, 48]

In [73]:
[i if i % 2 == 0 else i ** 2  for i in sayilar_listesi] # if in bodysi solda else in sağda ve else yoksa if sona yazılır

[1, 225, 2, 36, 25, 7921, 2025, 62, 52, 5041, 30, 56, 2025, 9025, 3721, 48]